<div>
    <google-map width="100%" height="250px"></google-map>
    <hr>
    <!-- <star-rating-comp [starType]="'svg'" [rating]="2.63"></star-rating-comp> -->
    <div>
        <mat-accordion>
            <mat-expansion-panel expanded style="background: transparent;box-shadow: none;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Hotel Filters
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="item-content">
                    <form class="" [formGroup]="filterFormGroup">
                        <input type="text" placeholder="Hotel Name" class="form-control" formControlName="name"
                        style="float: left;margin-left: 7px;width:78%">
                        <button type="button" class="btn btn-primary"
                        style="float: left;background-color: rgb(255, 120, 2);border-color: rgb(255, 120, 2);">Go</button>
                    </form>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <hr>

    <div>
        <mat-accordion>
            <mat-expansion-panel expanded style="background: transparent;box-shadow: none;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Set Budget per Night
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="item-content">
                    <form [formGroup]="sliderForm">
                        <ng5-slider [options]="options" formControlName="sliderControl"></ng5-slider>

                    </form>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <hr>
    <div>
        <mat-accordion>
            <mat-expansion-panel expanded style="background: transparent;box-shadow: none;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Star Rating
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="item-content">
                    <!-- <star-rating starType="'svg'" rating="2.63"></star-rating> -->
                    <!-- <star-rating-comp [starType]="'svg'" [rating]="2.63"></star-rating-comp> -->
                    <!-- <mat-star-rating></mat-star-rating> -->
                    <ul class="star-filter">
                        <li class="StarRatingLi">
                            <label>
                                <small>1</small>
                                <span class="fa fa-star"></span>
                                <input type="checkbox" class="StarRating" name="star" value="1" autocomplete="off">
                            </label>
                        </li>
                        <li class="StarRatingLi">
                            <label>
                                <small>2</small>
                                <span class="fa fa-star"></span>
                                <input type="checkbox" class="StarRating" name="star" value="2">
                            </label>
                        </li>
                        <li class="StarRatingLi">
                            <label>
                                <small>3</small>
                                <span class="fa fa-star"></span>
                                <input type="checkbox" class="StarRating" name="star" value="3">
                            </label>
                        </li>
                        <li class="StarRatingLi">
                            <label>
                                <small>4</small>
                                <span class="fa fa-star"></span>
                                <input type="checkbox" class="StarRating" name="star" value="4">
                            </label>
                        </li>
                        <li class="StarRatingLi">
                            <label>
                                <small>5</small>
                                <span class="fa fa-star"></span>
                                <input type="checkbox" class="StarRating" name="star" value="5">
                            </label>
                        </li>
                    </ul>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <hr>
    <div>
        <app-widget-item-advance></app-widget-item-advance>
    </div>
</div>
