<section class="contains">
    <div class="header">
        Important Information
    </div>
    <div style="padding: 10px 15px;">
        <p>
            <b>Hotel Policy</b>
            <br>
            <b>Cancellation Policy:</b>
                Any cancellation of a confirmed reservation must be notified in writing to Jamaica Inn and will take effect on the day received by the hotel. The following scale of charges will be payable based on the <br>
            <a href="">Read More</a>
        </p>
        <p>
            <b>Cancellation Policy:</b>
            <a href="">View Details</a>
        </p>
        <p>
            <b>Child Policy:</b><br>
            Children 10 years and older are welcome. Bookings with children less than 10 will not be permitted.
        </p>
        <p>
            <b>Terms and Condition</b><br>
            <b>Minium stay:</b>
            7 nights between 22 December 2018/19 and 01 January 2019/20 in all accommodations. In addition no departures from the hotel are permitted between 29 December 2018/19 and 01 January 2019/20.
            <br>
            <a href="">Read More</a>
        </p>
    </div>
</section>
