<section class="container-fluid" style="background: #f9f9f9; padding-bottom: 40px;">
    <div class="container">
        <app-signup-form></app-signup-form>
        <app-search-form></app-search-form>
        <div style="margin-top: 20px;" class="">
            <h3 style="color: #01385f;font-size: 26px;font-weight: bold;">13 Day passes in Montego Bay, Jamaica</h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-3">
                    <app-filter-widget></app-filter-widget>
                </div>
                <div class="col-12 col-sm-12 col-md-9">
                    <app-ads-item></app-ads-item>
                    <app-ads-item></app-ads-item>
                    <app-ads-item></app-ads-item>
                    <app-ads-item></app-ads-item>
                </div>
            </div>
        </div>

    </div>

</section>
