.flex-container{
    display: flex;
    justify-content: space-between;
}

.checked{
    color: orange;;
}

.header{
    background-color: rgb(239,239,239);
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.contains{
    border: 3px solid rgb(239,239,239);
    box-shadow: 1px 1px 3px rgb(239,239,239);
    margin-bottom: 25px;
}
