<section class="contains">
    <div class="header">
        Your Booking Details
    </div>
    <div class="flex-container" style="padding: 10px 15px;">
        <div>
            <img src="assets/images/promotion2.jpg" width="100" height="100" alt="beaches">
        </div>
        <div style="margin-left: 20px;">
            <p>
                <b>Jamaica Inn</b>

            </p>
            <p>
                Wednesday, Apr, 22, 2020 - Thursday, Apr, 30, 2020
            </p>
            <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <i class="far fa-star checked"></i>
            </div>
        </div>
    </div>
    <div style="padding: 0 15px;">
        <p>
            <b>Adress:</b>
        </p>
        <p>
            P.O Box 1 Main Street, Ocho Rios St.Ann, Jamaica, Ocho Rios
        </p>
    </div>
    <div style="padding: 0 15px;">
        <p>
            <b>Room Type</b>
        </p>
        <p>
            White Suite - White - Suite
        </p>
    </div>
</section>
