<mat-accordion>
    <mat-expansion-panel hideToggle="true" style="background: white;box-shadow: none;">
        <mat-expansion-panel-header>
        <!-- <mat-panel-title>
            <i class="fa fa-map-marker icon"></i>negril jamaica
        </mat-panel-title> -->
            <mat-panel-description>
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <i class="fa fa-map-marker icon"></i>Negril Jamaica
                    </div>
                    <div class="col-sm-2 col-md-3">
                        <i class="fa fa-calendar icon"></i>Tue, 16 Jun - Fri, 19 Jun
                    </div>
                    <div class="col-sm-2 col-md-3">
                        <i class="fa fa-briefcase icon"></i>1 Room, 1 Guest
                    </div>
                    <div class="col-sm-4 col-md-3 text-right">
                        Change Search
                        <i class="fa fa-search"></i>
                    </div>
                </div>
                
                
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
            <form [formGroup]="searchFormAdvanceGroup" style="background: #0a85c0;padding: 14px 10px 0 10px;">
                <div class="row">
                    <div class="col-md-3" style="padding-right: 0px;">
                        <div class="form-group">
                        <input type="text" formControlName="city" class="form-control" placeholder="Enter your city" required="">
                        </div>
                        
                    </div>
                    <div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
                        <div class="form-group">
                        <input type="date" formControlName="date_start" class="form-control calendar" required="">
                        </div>
                        
                    </div>
                    <div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
                        <input type="date" formControlName="date_end" class="form-control calendar" placeholder="Enter your city" required="">
                    </div>
                    <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
                        <!-- <div class="form-group">
                            <input type="text" formControlName="policy" class="form-control" placeholder="1 adult, 0 child, 1 room" required="">
                        </div> -->
                        <div class="form-group" (click)="this.hotelPopUpShow = true">
                            <!-- <label for="">No of Guests</label> -->
                            <span class="form-control c-round c-theme travellers-input" id="travellers-hotel">
                                <span class="adultsF travellers-input">1</span> adult,
                                <span class="childsF travellers-input">0</span> child,
                                <span class="room_countF travellers-input">1</span> Room
                            </span>
                        </div>
                        <!-- <div class="travellers-input-popup" id="travellers-hotel-popup" *ngIf="hotelPopUpShow">
                            <div class="trip-options">
                                <p>Room - <span>1</span></p>
                                <div class="numstepper small-btns">
                                    <button type="button" class="quantity-btn quantity-left-minus btn-number-rooms"
                                    data-type="minus" data-field="room_count"></button>
                                    <input type="text" name="room_count" class="quantity-input input-number multi" value="1" min="1"
                                    max="4">
                                    <button type="button" class="quantity-btn quantity-right-plus btn-number-rooms" data-type="plus"
                                    data-field="room_count"></button>
                                </div>
                                <div class="clone-room">
                                    <p class="rooms" style="display: none;">Room - <span>2</span></p>
                                    <div class="numstepper small-btns">
                                        <p>Adults</p>
                                        <button type="button" class="quantity-btn quantity-left-minus btn-number-arr"
                                            data-type="minus" data-field="adults">
                                        </button>
                                        <input type="text" name="adults[]" class="quantity-input input-number adults" value="1"
                                            min="1" max="14">
                                        <button type="button" class="quantity-btn quantity-right-plus btn-number-arr" data-type="plus"
                                            data-field="adults">
                                        </button>
                                    </div>
                                    <div class="clone-item roomage">
                                        <input type="hidden" class="roomsno" value="1">
                                        <p style="display: none;">Child Age - <span>1</span></p>
                                        <div class="numstepper small-btns">
                                            <p>Children</p>
                                            <button type="button" class="quantity-btn quantity-left-minus btn-number-multi roomAge"
                                            data-type="minus" data-field="childs">
                                            </button>
                                            <input type="text" name="childs[]" class="quantity-input input-number multi childs"
                                            value="0" min="0" max="3">
                                            <button type="button" class="quantity-btn quantity-right-plus btn-number-multi roomAge"
                                            data-type="plus" data-field="childs">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clonediv"></div>
                                </div>
                            </div>
                            <i class="fa fa-times" aria-hidden="true" (click)="this.hotelPopUpShow = false">OK</i>
                        </div> -->
                    </div>

                    <div class="col-md-2" style="padding-left: 0px;">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-block" style="background-color: #ff7802; border-radius: 0px; padding: 7px;">Modify</button>
                        </span>
                    </div>

                </div>
                
            </form>
        </div>

        
    </mat-expansion-panel>
</mat-accordion>
