/* user page css */
/*---------------*/
.room-list-wrapper .dataTables_length {
  margin-top: 0 !important;
}
.room-list-wrapper .dataTables_length select {
  margin: 0 0.5rem 0 0.5rem;
}
.room-list-wrapper .dataTables_filter {
  margin-top: 0 !important;
}

.room-view .table-borderless td {
  padding: 0.3rem 0 0.3rem 0;
  word-break: break-word;
  white-space: normal;
}
.room-view .table-borderless td:first-child {
  width: 140px;
}

.room-view .room-avatar-shadow, .room-edit .room-avatar-shadow {
  box-shadow: 2px 4px 14px 0 rgba(0, 0, 0, 0.4);
}
.dataTables_filter{
  display: none;
}