<div>
    <p style="color: rgb(92, 121, 137);font-size: 16px;font-weight: bold;">Filter By</p>
    <hr style="margin-top: 0;">
    <app-widget-item [title]="title1" [items]="items1"></app-widget-item>
    <hr>
    <app-widget-item [title]="title2" [items]="items2"></app-widget-item>
    <hr>
    <app-widget-item [title]="title3" [items]="items3"></app-widget-item>
</div>
  
