.icon{
    padding-top: 3px;margin-right: 5px;
}

.form-control {
    border-radius: 0px;
}

// .mat-expansion-panel-header-title,
// .mat-expansion-panel-header-description {
//   flex-basis: 0;
// }

// .mat-expansion-panel-header-description {
//   justify-content: space-between;
//   align-items: center;
// }

// .calendar{
  // background: #fff url(../../../assets/images/cal-image.png) 95% center no-repeat;
// }