<section class="contains">
    <div class="header">
        Summary of Charges
    </div>
    <div class="contents">
        <div class="flex-container">
            <span>Room cost:</span>
            <span>$9,784 USD</span>
        </div>
        <div class="flex-container">
            <span>Nights:</span>
            <span>8</span>
        </div>
        <div class="flex-container">
            <span>Rooms:</span>
            <span>1</span>
        </div>
        <div class="flex-container">
            <span>Guests:</span>
            <span>1</span>
        </div>
        <div class="flex-container">
            <span>Rooms Subtotal:</span>
            <span>$9,784 USD</span>
        </div>
        <div class="flex-container">
            <span style="color: blue;text-decoration: underline;">Tax and Fees&nbsp;:</span>
            <span>$9,784 USD</span>
        </div>

        <div class="separator">Total Charges</div>
        <div class="total-price">
            $12, 350 USD
        </div>
    </div>
</section>
