<div class="">
  <div class="ads row">

    <div class="col-12 col-lg-3">
      <img src="assets/images/1.png" class="img-fluid" alt="Tours" width="240" style="margin-left: -15px;">
    </div>
    <div class="col-12 col-lg-9">
      <div class="item-container">
        <div class="item-header flex-container">
          <div>
            <h4 style="font-size: 16px;color: rgb(7,133,194);font-weight: bold;text-transform: capitalize;margin-bottom: 5px;">{{title}}</h4>
            <p style="font-weight: bold;text-transform: capitalize;">{{subtitle}}</p>
          </div>
          <div style="margin-right: 10px;">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
        <div class="item-content">
          <p>
            {{content}}
          </p>
        </div>
        <div class="item-footer flex-container">
          <div class="icons">
            <span><i class="fa fa-wifi"></i>&nbsp;Free WiFi</span>
            <span><mdb-icon fas icon="swimmer"></mdb-icon>&nbsp;Swimming Pool</span>
            <span><i class="fa fa-bath"></i>&nbsp;Bar</span>
          </div>
          <div id="price">
            <span style="color:rgb(8, 171, 250);">US${{price}}</span>
            <span style="color: rgb(138, 134, 133);">&nbsp;/guest</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

