<div class="">
    <div class="ads row">

        <div class="col-sm-12 col-xs-12 col-md-3" style="padding-right: 0px;">
            <img src="assets/images/1.png" class="img-fluid img-responsive ads_image" alt="Tours" style="margin-left: -15px;">
        </div>
        <div class="col-sm-12 col-xs-12 col-md-9" style="padding-left: 0px;">
            <div class="item-container">
                <div class="item-header">
                    <div>
                        <h4 style="font-size: 16px;color: rgb(7,133,194);font-weight: bold;text-transform: capitalize;margin-bottom: 1px;">
                            {{title}}
                            <div style="margin-right: 2px; float: right; color: #000">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </h4>
                        <p style="font-weight: bold;text-transform: capitalize; margin-bottom: 1px;">{{subtitle}}</p>
                    </div>
                </div>
                <div class="item-content">
                    <p>
                        {{content}}
                    </p>
                </div>
                <div class="item-footer row">
                    <div class="col-md-8 col-sm-12">
                        <div class="icons">
                            <span><i class="fa fa-wifi"></i>&nbsp;Free WiFi</span>
                            <span><mdb-icon fas icon="swimmer"></mdb-icon>&nbsp;Swimming Pool</span>
                            <span><i class="fa fa-bath"></i>&nbsp;Bar</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div id="price">
                            <span style="color:rgb(8, 171, 250);">US${{price}}</span>
                            <span style="color: rgb(138, 134, 133);">&nbsp;/guest</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

