<div class="row">
    <div class="col-12 col-md-6 col-lg-8">
        <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-progress-bar mode='determintae' value="50"></mat-progress-bar>
            <mat-step [stepControl]="informFormGroup">
                <form [formGroup]="informFormGroup">
                    <ng-template matStepLabel>Your Information</ng-template>
                    <div class="flex-container">
                        <div style="margin-left: 50px"></div>
                        <mat-form-field>
                            <input matInput placeholder="First name" formControlName="firstNameCtrl" required>
                        </mat-form-field>
                        <div class="gap"></div>
                        <mat-form-field>
                            <input matInput placeholder="Last name" formControlName="lastNameCtrl" required>
                        </mat-form-field>
                        <div class="gap"></div>
                        <mat-form-field>
                            <input matInput placeholder="Billing Adress" formControlName="addressCtrl" required>
                        </mat-form-field>
                    </div>
                    <div class="flex-container">
                        <div style="margin-left: 50px"></div>
                        <mat-form-field>
                            <input matInput placeholder="Zip/Postal Code" formControlName="zipCodeCtrl" required>
                        </mat-form-field>
                        <div class="gap"></div>
                        <mat-form-field>
                            <input matInput placeholder="Country" formControlName="countryCtrl" required>
                        </mat-form-field>
                        <div class="gap"></div>
                        <mat-form-field>
                            <input matInput placeholder="State" formControlName="stateCtrl" required>
                        </mat-form-field>
                    </div>
                    <div class="flex-container">
                        <div style="margin-left: 50px"></div>
                        <mat-form-field>
                            <input matInput placeholder="City" formControlName="cityCtrl" required>
                        </mat-form-field>
                        <div class="gap"></div>
                        <mat-form-field>
                            <input matInput placeholder="email" formControlName="emailCtrl" required>
                        </mat-form-field>
                        <div class="gap"></div>
                        <mat-form-field>
                            <input matInput placeholder="Phone Number" formControlName="phoneCtrl" required>
                        </mat-form-field>
                    </div>
                    <div style="text-align: center; margin-top: 30px;">
                        <button mat-button matStepperNext class="btn btn-primary btn-continue">
                            Continue
                            <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="guestFormGroup">
                <form [formGroup]="guestFormGroup">
                    <ng-template matStepLabel>Guest Information</ng-template>
                    <p>Travellers</p>
                    <p>
                        Please make sure that the names you enter match that of the passport/identity card
                    </p>
                    <p>
                        <span>Room1:</span>
                    </p>
                    <div class="flex-container">
                        <b style="width: 70px;">Adult 1</b>
                        <div style="width: 15px;"></div>
                        <mat-form-field>
                            <input matInput placeholder="Title" formControlName="titleCtrl" required>
                            <span class="gap"></span>
                        </mat-form-field>
                        <span class="gap"></span>
                        <mat-form-field>
                            <input matInput placeholder="First Name" formControlName="firstNameCtrl" required>
                        </mat-form-field>
                        <span class="gap"></span>
                        <mat-form-field>
                            <input matInput placeholder="Last Name" formControlName="lastNameCtrl" required>
                        </mat-form-field>
                    </div>
                    <div style="margin-top: 40px;padding: 30px;">
                        <p style="font-weight: bold;">Special Requests</p>
                        <mat-form-field style="width: 100%;">
                            <mat-label>Leave a comment</mat-label>
                            <textarea matInput placeholder=""></textarea>
                        </mat-form-field>
                        <p>
                            Please note that special requests cannot be guaranteed
                        </p>
                    </div>
                    
                    <div style="text-align: center;">
                        <button mat-button matStepperNext class="btn btn-primary btn-continue">
                            Continue
                        <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="extraFormGroup">
                    <form [formGroup]="extraFormGroup">
                    <ng-template matStepLabel>Extras</ng-template>
                    <h3><i class="fa fa-caret-down"></i>&nbsp;Transfers</h3>
                    <hr>
                    <p>
                        Once your flight arrives you still have to get to your hotel and back to the airport at the end of your trip. Beat the cab line and take advantage of the time and money savings of an <b>airport transfer.</b>
                    </p>
                    <div class="flex-container" style="justify-content: space-between;border: 1px solid gray;margin-top: 15px;padding: 15px;">
                        <div class="flex-container">
                            <img src="assets/images/bus.png" width="150" alt="bus image">
                            <div>
                                <h4 style="font-weight: bold;">
                                Transportation to & from your hotel
                                </h4>
                                <p>Select Passengers</p>
                            </div>
                        </div>
                        <div style="margin-top: 25px;">
                            <button type="button" class="btn btn-primary">
                                Select
                            </button>
                        </div>
                    </div>
                    <div style="text-align: center;margin-top: 20px;">
                        <button mat-button matStepperNext class="btn btn-primary btn-continue">
                            Continue
                        <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Payment Information</ng-template>
                <div style="text-align: center;">
                    <button mat-button matStepperNext class="btn btn-primary btn-continue">
                        Enter Payment Details
                        <i class="fas fa-angle-right"></i>
                    </button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <app-booking-detail></app-booking-detail>
        <app-summary></app-summary>
        <app-importants></app-importants>
    </div>

</div>
